<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.springboot04.mapper.GoodsMapper">
    <insert id="insert" parameterType="com.atguigu.springboot04.bean.Goods">
        insert into goods(id,kind,price,name,color,picture,description) values(#{id},#{kind},#{price},#{name},#{color},#{picture},#{description});
    </insert>
    <!--重新上架已下架的商品-->
    <update id="updateGoods" parameterType="com.atguigu.springboot04.bean.Goods">
        update goods set kind=#{kind},price=#{price},name=#{name},color=#{color},picture=#{picture},udstatus=1,description=#{description} where number=#{number};
    </update>
    <select id="getcount" resultMap="index">
        SELECT count(1) as count FROM goods where udstatus=1 and deletstatus=0;
    </select>
    <resultMap id="index" type="int">
        <result column="count"></result>
    </resultMap>
    <select id="count" parameterType="map" resultMap="change">
        SELECT count(1) as count FROM goods where id=#{id} and udstatus=#{set} and deletstatus=0;
    </select>
    <resultMap id="change" type="int">
        <result column="count"></result>
    </resultMap>
    <select id="getIndexGoods" parameterType="map" resultType="com.atguigu.springboot04.bean.Goods">
         select * from goods where udstatus=1 and deletstatus=0 limit #{page},#{size};
    </select>
    <select id="getGoodsById" parameterType="map" resultType="com.atguigu.springboot04.bean.Goods">
        select * from goods where id=#{id} and udstatus=#{set} and deletstatus=0 limit #{page},#{size};
    </select>
    <select id="getPicture" parameterType="String" resultType="String">
        select picture from goods where picture=#{t};
    </select>
    <select id="getGoodsByNumber" parameterType="int" resultType="com.atguigu.springboot04.bean.Goods">
        select * from goods where number=#{number};
    </select>
    <!--设置下架-->
    <update id="updateGoodsof1" parameterType="int">
        update goods set udstatus=0 where number=#{number}
    </update>
    <!--设置下架商品的删除-->
    <update id="updateGoodsof3" parameterType="int">
        update goods set deletstatus=1 where number=#{number}
    </update>
    <select id="getKinds" resultMap="se">
        select s.number as snumber ,s.name as sname,s.type as stype,t.name as tname from kinds as s,kinds as t where s.number=t.type;
    </select>
    <resultMap id="se" type="com.atguigu.springboot04.bean.Kinds">
        <result property="number" column="snumber"></result>
        <result property="name" column="sname"></result>
        <result property="type" column="stype"></result>
        <collection property="second" ofType="string">
            <result column="tname"></result>
        </collection>
    </resultMap>
</mapper>



