<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>购物车</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
         <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
      <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
    <link rel="stylesheet" href="layui/css/layui.css"><!--layui的css布局-->
</head>
<style>
    .car:hover{
        color: red;
        cursor: pointer;
    }
</style>
<body>
<div th:insert="~{navigation :: nav}">
</div>
<div th:if="${session.users != null}">
    <div th:if="${carInfor!= null}">
       <div style="display: flex;flex-wrap: wrap;" >
          <!-- <form action="shoppingcar?set=4">
                <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">
                     一键购买
                </button>
           </form>
           -->
           <div>
           <a class="car" th:href="@{/addshoppingcar(page=${carInfor.page},set=4)}" style="font-size: 20px;text-decoration: none;">一键购买</a>
           </div>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <div>
           <a class="car" href="shoppingcar?set=5" style="font-size: 20px;text-decoration: none;">清空购物车</a>
           </div>
           <!--<form action="/shoppingcar">
                <button type="submit" name="set" class="layui-btn" lay-submit="" lay-filter="demo1">

                </button>
           </form>-->
           <!--<div th:if="${carInfor != null}">
               <div th:each="c : ${carInfor.carsInformation}">
                   <div th:text="${c.good.name}"></div>
                   <div th:text="${c.car.number}"></div>
                   <div th:text="${c.users.name}"></div>
                   <td th:if="${c.good.udstatus==1}">上架</td>
                   <td th:if="${c.good.udstatus!=1}">下架</td>
               </div>

           </div>-->
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <div th:if="${erro!=null}" th:text="${erro}" style="display:flex;flex-wrap: wrap;align-self: center; color: red" >
           </div>
    </div>
       <!-- class="layui-card-body layui-card" style="padding: 20px" th:if="${session.users != null}"-->
            <div style="display: flex;justify-content: center;">
                <table class="layui-table" >
                    <colgroup>
                        <col width="150">
                        <col width="200">
                        <col>
                    </colgroup>
                    <thead>
                    <tr>
                        <th>编号</th>
                        <th>种类</th>
                        <th>名称</th>
                        <th>价格</th>
                        <th>颜色</th>
                        <th>卖方</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody th:if="${carInfor.carsInformation != null}">

                    <tr th:each="c : ${carInfor.carsInformation}">
                        <td th:text="${c.car.number}"></td>
                        <td th:text="${c.good.kind}"></td>
                        <td th:text="${c.good.name}"></td>
                        <td th:text="${c.good.price}"></td>
                        <td th:text="${c.good.color}"></td>
                        <td th:text="${c.users.name}"></td>
                        <td th:if="${c.good.udstatus==1}">上架</td>
                        <td th:if="${c.good.udstatus!=1}">已下架</td>
                        <td>
                            <a th:href="@{/addshoppingcar(page=${carInfor.page},set=3,number=${c.good.number})}" style="text-decoration: none;">
                                    <span style="color: red">
                                       购买
                                    </span>
                            </a>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a th:href="@{/shoppingcar(page=${carInfor.page},set=3,number=${c.car.number})}" style="text-decoration: none;">
                                    <span style="color: red">
                                       删除
                                    </span>
                            </a>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <div th:if="${carInfor.carsInformation != null}" style="display: flex;justify-content: center;">
                <ul class="pagination">
                    <li th:if="${carInfor.isFirstpage()}">
                        <a th:href="@{/shoppingcar(page=1)}" aria-label="Previous">
                            <span aria-hidden="true"> 首页</span>
                        </a>
                    </li>
                    <li th:if="${carInfor.isPrevious()}">
                        <a th:href="@{/shoppingcar(page=${carInfor.getPage()-1})}" aria-label="Previous">
                            <span aria-hidden="true"> 上一页</span>
                        </a>
                    </li>
                    <li th:each="page : ${carInfor.getPages()}" th:class="${carInfor.getPage() == page}? 'active':''">
                        <a th:href="@{/shoppingcar(page=${page})}" th:text="${page}"></a><!--@{/(page=${page})} (page=${page})等价与?page=1 -->
                    </li>
                    <li th:if="${carInfor.isNext()}">
                        <a th:href="@{/shoppingcar(page=${carInfor.getPage()+1})}" aria-label="Next">
                            <span aria-hidden="true">下一页</span>
                        </a>
                    </li>
                    <li th:if="${carInfor.isEndpage()}">
                        <a th:href="@{/shoppingcar(page=${carInfor.getTotalpage()})}" aria-label="Next">
                            <span aria-hidden="true">尾页</span>
                        </a>
                    </li>
                </ul>
            </div>
    </div>
</div>
<div th:insert="~{navigation :: bottom}">
</div>
<script src="layui/layui.js"></script>
<script>
    //自己编写的js,就近原则;有layui网页特效的JS代码 输入区
    $(function(){
        layui.use(['form', 'layedit', 'laydate'], function(){
            var form = layui.form
                ,layer = layui.layer
                ,layedit = layui.layedit
                ,laydate = layui.laydate;

            /* $("previewImg").click(function() {
            $("picture").click();
            });
            $("picture").change(function () {
            let file=this.files

            });*/


        });
    });
</script>
<script>
    $(function(){
        layui.use('upload', function(){
            var $ = layui.jquery
                ,upload = layui.upload;

            //普通图片上传
            var uploadInst = upload.render({
                elem: '#test1'
                ,url: 'https://httpbin.org/post' //改成您自己的上传接口
                ,before: function(obj){
                    //预读本地文件示例，不支持ie8
                    obj.preview(function(index, file, result){
                        $('#demo1').attr('src', result); //图片链接（base64）
                    });
                }
                ,done: function(res){
                    //如果上传失败
                    if(res.code > 0){
                        return layer.msg('上传失败');
                    }
                    //上传成功
                }
                ,error: function(){
                    //演示失败状态，并实现重传
                    var demoText = $('#demoText');
                    demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                    demoText.find('.demo-reload').on('click', function(){
                        uploadInst.upload();
                    });
                }
            });
        });
    });
</script>
<script type="text/javascript">
    //下面用于图片上传预览功能
    function setImagePreview(avalue) {
        var docObj=document.getElementById("doc");

        var imgObjPreview=document.getElementById("preview");
        if(docObj.files && docObj.files[0])
        {
//火狐下，直接设img属性
            imgObjPreview.style.display = 'block';
            imgObjPreview.style.width = '150px';
            imgObjPreview.style.height = '180px';
//imgObjPreview.src = docObj.files[0].getAsDataURL();

//火狐7以上版本不能用上面的getAsDataURL()方式获取，需要一下方式
            imgObjPreview.src = window.URL.createObjectURL(docObj.files[0]);
        }
        else
        {
//IE下，使用滤镜
            docObj.select();
            var imgSrc = document.selection.createRange().text;
            var localImagId = document.getElementById("localImag");
//必须设置初始大小
            localImagId.style.width = "150px";
            localImagId.style.height = "180px";
//图片异常的捕捉，防止用户修改后缀来伪造图片
            try{
                localImagId.style.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)";
                localImagId.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = imgSrc;
            }
            catch(e)
            {
                alert("您上传的图片格式不正确，请重新选择!");
                return false;
            }
            imgObjPreview.style.display = 'none';
            document.selection.empty();
        }
        return true;
    }

</script>
</body>
</html>