<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>By：DragonDean</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
         <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
      <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
</head>

<input id="sg" type="text"/>
<a href="" onclick="set()">查看</a>
<script src="layui/layui.js"></script>
<script type="text/javascript">
    //下面用于图片上传预览功能
    //获得session中的数据
    function set(){
        var d=document.getElementsById("sg");
        alert(d.value);
        /* var s=confirm("s"+d);
         if(s)
         {
             window.location.href="/index";
         }*/


    }

</script>
</body>
</html>