<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
         <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
      <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
    <link rel="stylesheet" href="layui/css/layui.css"><!--layui的css布局-->
    <style>
        .container {
            display: table;
            width:100%;
        }

        .container .left,
        .container .right {
            display: table-cell;
        }

        .container .left {
            width: 20%;
            background: white;
        }

        .container .right {
            width: 80%;
            background: white;
        }
    </style>
</head>
<body>
<div th:insert="~{navigation :: nav}">
</div>
<div class="container">
    <div class="left">
        <ul class="layui-nav layui-nav-tree" lay-filter="test">
            <!-- 侧边导航: <ul class="layui-nav layui-nav-tree layui-nav-side"> -->
            <li class="layui-nav-item layui-nav-itemed">
                <a href="users">查看信息</a>
                <!--<dl class="layui-nav-child">
                    <dd><a href="javascript:;">上架商品页面</a></dd>
                    <dd><a href="javascript:;">下架商品页面</a></dd>
                    <dd><a href="">添加商品</a></dd>
                </dl>-->
            </li>
            <li class="layui-nav-item layui-nav-itemed">
                <a href="userschange">修改信息</a>
            </li>
        </ul>
    </div>
    <div class="right">
        <div th:if="${session.users !=null}"><!--class="layui-card-body layui-card" style="padding: 20px"-->
            <form class="layui-form" th:action="@{/userschangetrue}">

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label" style="width: 100px">用户账号</label>
                        <div class="layui-input-inline" style="width: 200px">
                            <input type="text" name="id" readonly="readonly" class="layui-input" th:value="${session.users.getId()}">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label" style="width: 100px">用户名称</label>
                        <div class="layui-input-inline" style="width: 200px">
                            <input type="text" name="name" class="layui-input" th:value="${session.users.getName()}">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label" style="width: 100px">原密码</label>
                        <div class="layui-input-inline" style="width: 200px">
                            <input type="text" name="password" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label" style="width: 100px">新密码</label>
                        <div class="layui-input-inline" style="width: 200px">
                            <input type="text" name="newpassword" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" style="width: 100px">用户性别</label>
                    <div class="layui-input-block" style="width: 200px">
                        <select name="sex">
                            <option th:value="${session.users.getSex()}" th:text="${session.users.getSex()}"></option>
                            <option value="男">男</option>
                            <option value="女">女</option>
                        </select>
                    </div>
                </div>

                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label" style="width: 100px">个人描述</label>
                    <div class="layui-input-block">
                        <textarea class="layui-textarea" name="description" th:text="${session.users.getDescription()}"></textarea>
                    </div>
                </div>
                <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">确认修改</button>
            </form>
            <br/>
            <br/>
            <form class="layui-form" th:action="@{/users}">
                <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">放弃修改</button>
            </form>
        </div>
    </div>
</div>
<script src="layui/layui.js"></script>
<script>
    //自己编写的js,就近原则;有layui网页特效的JS代码 输入区
    $(function(){
        layui.use(['form', 'layedit', 'laydate'], function(){
            var form = layui.form
                ,layer = layui.layer
                ,layedit = layui.layedit
                ,laydate = layui.laydate;

            /* $("previewImg").click(function() {
            $("picture").click();
            });
            $("picture").change(function () {
            let file=this.files

            });*/


        });
    });
</script>
<script>
    $(function(){
        layui.use('upload', function(){
            var $ = layui.jquery
                ,upload = layui.upload;

            //普通图片上传
            var uploadInst = upload.render({
                elem: '#test1'
                ,url: 'https://httpbin.org/post' //改成您自己的上传接口
                ,before: function(obj){
                    //预读本地文件示例，不支持ie8
                    obj.preview(function(index, file, result){
                        $('#demo1').attr('src', result); //图片链接（base64）
                    });
                }
                ,done: function(res){
                    //如果上传失败
                    if(res.code > 0){
                        return layer.msg('上传失败');
                    }
                    //上传成功
                }
                ,error: function(){
                    //演示失败状态，并实现重传
                    var demoText = $('#demoText');
                    demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                    demoText.find('.demo-reload').on('click', function(){
                        uploadInst.upload();
                    });
                }
            });
        });
    });
</script>
</body>
</html>